.details {
  &-list {
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding: 4px 0;
        font-size: 18px;
        color: $darkblue;
      }
    }
    p {
      color: $darkblue;
      font-size: 18px;
      margin-bottom: 0;
    }
    span.details-birthday {
      color: $fontcolor2;
    }
  }
}
