.homepage {
  &-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    input[type='text'] {
      width: 300px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
  &-people-list {
    list-style: none;
    padding-left: 0;
    max-width: 450px;
    li {
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $reddy;
      a {
        color: $fontcolor1;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &:hover span {
          text-decoration: none;
        }
        p {
          font-size: 22px;
          margin: 0;
        }
        span {
          font-size: 14px;
          color: $fontcolor2;
        }
      }
    }
  }
}
