.people-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid $white;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: $lightblue;
  color: $white;
  margin-right: 10px;
}

.homepagen-nli-container {
  text-align: center;
  .cherish-logo-lg {
    font-size: 60px;
  }
  .sign-up-links {
    color: $fontcolor2;
    font-size: 2em;
    a {
      color: $fontcolor2;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
