.homepage {
  h2 {
    margin-bottom: 0;
  }
  &-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-people-list {
    list-style: none;
    padding-left: 0;
    max-width: 450px;
    margin-top: 0;
    li {
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      a.person-link {
        display: flex;
        align-items: center;
        color: $fontcolor1;
        text-decoration: none;
        .person-details {
          border-bottom: 1px solid $reddy;
          width: 90%;
        }
        &:hover p {
          text-decoration: underline;
        }
        p {
          font-size: 22px;
          margin: 0;
        }
        span {
          font-size: 14px;
          color: $fontcolor2;
        }
        .people-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          border: 2px solid $white;
          height: 55px;
          width: 55px;
          border-radius: 50%;
          background-color: $lightblue;
          color: $white;
          margin-right: 10px;
        }
      }
    }
  }
}

.homepagen-nli-container {
  text-align: center;
  .cherish-logo-lg {
    font-size: 60px;
  }
  .sign-up-links {
    color: $fontcolor2;
    font-size: 2em;
    a {
      color: $fontcolor2;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
