.login-container {
  max-width: 500px;
  width: 100%;
  .login-link-container {
    display: flex;

    justify-content: space-evenly;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
