.navigation-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 900px;
  margin: 0 auto;
  span {
    font-family: $pacifico;
    color: $fontcolor2;
    font-size: 36px;
    line-height: 46px;
  }
  .navigation-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    li {
      padding: 10px 20px;
      a {
        color: $fontcolor2;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
