.cherish-logo {
  font-family: $pacifico;
  color: $fontcolor2;
  text-decoration: none;
  font-size: 36px;
  line-height: 46px;
  margin-right: 1em;
  flex-grow: 1;
}
// Mobile Navigation

.mobile-sidemenu {
  &-navigation-links {
    width: 200px;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    li {
      padding: 16px 20px;
      font-size: 22px;
      a {
        color: $fontcolor2;
        text-decoration: none;
        &:hover {
          border-bottom: 2px solid $fontcolor2;
        }
      }
    }
  }
}
