* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $quicksand;
  color: $fontcolor1;
  min-width: 320px;
  background-color: lighten($fontcolor1, 25%);
}

.container {
  width: 100%;
  background-color: $yellow;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 16px 32px;
  margin-top: 54px;
  @include break('max', $screen-sm) {
    padding: 16px;
    margin-top: 40px;
  }
}

.desktop {
  display: block;
  @include break('max', $screen-sm) {
    display: none;
  }
}

.mobile {
  display: none;
  @include break('max', $screen-sm) {
    display: block;
  }
}

h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 300;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 0;
}

h3 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 0;
}

p {
  color: $darkblue;
}

a {
  color: $fontcolor2;
  &:hover {
    color: lighten($fontcolor2, 10%);
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $reddy;
}

// Margins
@include list-loop('.m-t-', 'margin-top');
@include list-loop('.m-r-', 'margin-right');
@include list-loop('.m-b-', 'margin-bottom');
@include list-loop('.m-l-', 'margin-left');
@include list-loop('.m-x-', 'margin');
// Paddings
@include list-loop('.p-t-', 'padding-top');
@include list-loop('.p-r-', 'padding-right');
@include list-loop('.p-b-', 'padding-bottom');
@include list-loop('.p-l-', 'padding-left');
@include list-loop('.p-x-', 'padding');

// TODO integrate into modules

.logout-container {
  display: flex;
}
