.desktop {
  display: block;
  @include break('max', $screen-sm) {
    display: none;
  }
}

.mobile {
  display: none;
  @include break('max', $screen-sm) {
    display: block;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
}

// Margins
@include list-loop('.m-t-', 'margin-top');
@include list-loop('.m-r-', 'margin-right');
@include list-loop('.m-b-', 'margin-bottom');
@include list-loop('.m-l-', 'margin-left');
@include list-loop('.m-x-', 'margin');
// Paddings
@include list-loop('.p-t-', 'padding-top');
@include list-loop('.p-r-', 'padding-right');
@include list-loop('.p-b-', 'padding-bottom');
@include list-loop('.p-l-', 'padding-left');
@include list-loop('.p-x-', 'padding');

// TODO integrate into modules

.logout-container {
  display: flex;
}
