.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  li {
    padding: 10px 20px;
  }
}

.logout-container {
  display: flex;
}
